<%=link_to 'New User', new_user_path,:class => 'btn btn-primary'%>

<h1>Users</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td>
          <%= link_to 'Edit', edit_user_path(user), :class => 'btn btn-primary' %>
        </td>
        <td>
          <%= link_to 'Delete', user, method: :delete, :class => 'btn btn-primary' %>
        </td>
        <td><%=link_to 'Send request', send_request_user_path(user)%></td>
      </tr>
    <% end %>
    <div class="pagination" >
      <%= will_paginate @users %>
    <div>  
  </tbody>
</table>
